<div class="wrap">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9">
                <h1>Home</h1>
            </div>
            <div class="col-lg-3">

            </div>
        </div>
    </div>
</div>