<header class="header">
    <div class="header__top">
        <div class="wrap">
            <div class="container-fluid">
                <div class="header__logo">
                    <a href="/">site name</a>
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="wrap">
            <div class="container-fluid">
                <ul>
                    <li><a href="#">item1</a></li>
                    <li><a href="#">item2</a></li>
                    <li><a href="#">item3</a></li>
                    <li><a href="#">item4</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>